html {
    background-image: url('../images/tesla_logo_PNG18.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}